{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrossel 3D - @programador.cs</title>
    <link rel="stylesheet" href="{% static 'reach.css'%}">

</head>

<body>
    <div class="conteudo__geral">
        <div class="container">
            <div class="container-carrossel">
                <div class="carrossel">
                    <div class="carrossel-item">
                        <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                            <path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"></path>
                        </svg>
                    
                        <p class="name-client"> <bold>Victor Kemboi </bold><br>
                         <span>Student of dedan kimathi university & imobilis institute
                        </span>
                        </p>
                    </div>
                    <div class="carrossel-item">
                        <p > <em>PROFILE SUMMARY</em><br>I am currently in DEDAN KIMATHI UNIVERSITY OF TECHNOLOGY   located in Kenya, Nyeri 
                            county pursuing Bachelor of Science in Telecommunication and Information Engineering from 
                            2022 September. I am currently studying web development using django and python.
                            <br>Telecommunication and Information Engineering deals with: Analog and Digital 
                            Communication Systems, Circuit Analysis, Data Communication, Signal Processing, Computer 
                            Networks 
                         </p>
                    </div>
                    <div class="carrossel-item">
                        <p1>
                            <bold> Technical Skill </bold><br>
                            <ul>
                            <li>Programming Languages: C, Java, HTML </ul>
                             <li>Telecommunication Tools: MATLAB, NS3, Wireshark, Multism</li> 
                             <li>Networking: TCP/IP, Routing Protocols, Network Configuration, OSI Model </li>
                             <li>Other Skills: Circuit Design, Troubleshooting, Microsoft Office Suite, Linux</li>
                            </ul>
                         </p1>
                    </div>
                    <div class="carrossel-item">
                    </div>
                    <div class="carrossel-item">
                        <p2>
                            <i>Work History <br>
                                Backend Engineer
                            </i> 
                            Spearheaded the design and development of the company's
                            proprietary software application's backend infrastructure,
                            successfully managing and optimizing services for up to 300
                            businesses.
                            Demonstrated exceptional technical prowess by delivering a
                            significant 10% increase in system performance, achieving a
                            remarkable 20% reduction in downtime, and optimizing
                            communication efficiency by an impressive 27% through the
                            implementation of highly efficient code practices.
                            Clickbanx - CTO /Backend Software Engineer
                        </p2>
                    </div>
                    <div class="carrossel-item">
                        <p3>
                            <i>Python Developer</i> 
                            04/2021 - 03/2022
                            Led and collaborated with cross-functional teams to identify and
                            solve complex technical problems as per user requirements.Utilized
                            Django (Python frameworks) and Gin (Go framework) to build web
                            applications and APIs.
                            <ul> 
                                <li>Implemented CI/CD practices to ensure regular integration and
                                testing of code changes.</li>
                                <li>Worked on over 100 web applications using version control
                                systems,bug tracking tools, and testing frameworks to write clean
                                and efficient code.</li>
                                <li>Developed, tested, and deployed web applications, ensuring high
                                performance, reliability, and scalability this reduced business
                                churnrate to 2%</li>
                            </ul>
                            <i> Languages</i>
                            Swahili, English: Native language
                        </p3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static 'reach.js'%}"></script>
</body>

</html>